@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.container1 {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  h5 {
    font-size: 10px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 10px;
  }
  h5 {
    font-size: 5px;
  }
  .logo {
    width: 20px;
    height: 20px;
  }
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
}

div.container4 {
  height: 10em;
  position: relative;
}
div.container4 {
  margin: 0;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
